<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yourapp">

    <application
        android:allowBackup="true"
        android:label="IPTV App"
        android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.PlayerActivity" />
        <activity android:name=".activities.SettingsActivity" />
    </application>

</manifest>
